@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}

.header-container{
    width: 100%;
    margin-top: 0;
    background: none !important;
}

.header-container, .tbl-12{
    border-collapse: collapse;
    border-spacing: 0;
}

.tbl-12{
    width: 100%;
}

.td-container{
    width: 1%;
    vertical-align: middle;
    padding: 0;
    min-width: 3px;
}

#td-h1{
    margin: 0;
    display: inline-block;
    *display: inline;
}

#td-a{
    display: block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 117px;
    height: 48px;
}

td-container-s{
    width: 99%;
    vertical-align: middle;
    padding: 0;
}

td-container-s > form{
    margin: 0;
    padding: 0;
}

element{
    clip: rect(47px, 118px, 95px, 0px);
    position: absolute;
    top: -47px;
    left: 0;
}

#header-search-box, .search-prom{
    border: 2px solid #41413f;
        border-right-color: rgb(65, 65, 63);
        border-right-style: solid;
        border-right-width: 2px;
    border-right: 1px solid #c7c7c7;
    border-radius: 0;
    padding-right: 5px;
    box-sizing: border-box;
    height: 42px;
}

#header-search-box{
    border: 1px solid #ddd;
    background: #fff;
    height: 38px;
    padding: 0 10px 0 1px;
        padding-right: 10px;
    border-radius: 3px 0 0 3px;
    transition: border-color .1s linear;
}

#header-search-box2{
    position: relative;
    white-space: normal;
}

@supports (-webkit-appearance:none);
.search-prom input#gh-ac {
  -webkit-transition: none;
  transition: none;
}

.search-prom input#gh-ac {
    padding: 9px 0 9px 40px;
    box-sizing: border-box;
    -webkit-transition: padding .1s;
    transition: padding .1s;
    line-height: 20px;
  }

.top-container > a:visited{
    color: #0654ba;
    text-decoration: none;
}

#td-logo{
    border: 0;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

header{
    a:visited {
        color: #0654ba;
    }
}

.nav-form-control{
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
    color: #555;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    max-width: 1312px;
    position: relative;
    text-align: center;
}

.nav-container{
    white-space: nowrap;
    position: relative;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

nav > ul > li{
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: -1px;
    line-height: 16px;
    padding: 9px 12px 9px;
}
